<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="realm" value="MyWebApiLab"></add>
  <add key="username" value="MookieFumi"></add>
  <add key="password" value="Und3rL1ne"></add>
</appSettings>